/* Webfonts */
url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400italic,700italic,600italic,600,200italic,400,700,900,200,300italic,300,900italic);
@font-face {
  font-family: 'FontAwesome';
    url('fontawesome-webfont.woff') format('woff'),
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"],
[class*=" icon-"] {
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    text-decoration: inherit;
    -webkit-font-smoothing: antialiased;
    display: inline;
    width: auto;
    height: auto;
    line-height: normal;
    vertical-align: baseline;
    background-image: none;
    background-position: 0 0;
    background-repeat: repeat;
    margin-top: 0;
}
[class^="icon-"]:before,
[class*=" icon-"]:before {
    text-decoration: inherit;
    display: inline-block;
    speak: none;
}
.icon-spin {
    display: inline-block;
    -webkit-animation: spin 20s infinite linear;
}
@-webkit-keyframes spin { 
    5% { -webkit-transform: rotate(0deg) }
    10% { -webkit-transform: rotate(359deg) }
    10.0001% { -webkit-transform: rotate(0deg) }
}
.icon-bullhorn:before { content: "\f0a1" }

/* General */
* {
	font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
}

body {
	font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif !important;
	color: #3a4556;
	background: #ebeef3;
	font-size: 14px;
}

/* Widget: Shoutbox */
.phpbb-widget-shoutbox{
	background: #ebeef3;
	font-size: 16px;
	padding: 15px;
	width:220px;
}

.phpbb-widget-shoutbox h2 {
	float: left;
	font-size: 22px;
	font-weight: 300;
}

.phpbb-widget-shoutbox .sound-toggle {
	float: right;
	color: #1a4795;
	cursor: pointer;
}

.phpbb-widget-shoutbox .load-shouts {
	margin: 15px 0;
	overflow: scroll;
	height: 250px;
	overflow-x: hidden;
}

.phpbb-widget-shoutbox .last-shout-date {
	font-size: 14px;
	margin-bottom: 15px;
	padding-bottom: 15px;
	color: #75797f;
	border-bottom: 1px solid #d0d7e3;
}

.phpbb-widget-shoutbox #shout-msg {
	background-color: #e9e9ea;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#e9e9ea), to(#fcfcfd));
	border-radius: 4px;
	padding: 12px;
	font-size: 16px;
	width: 194px;
	border: 1px solid #979799;
	box-shadow: inset 0 1px 3px #c9c9ca;
	outline: none;
	color: #343b46;
	-webkit-appearance: none;
}

.phpbb-widget-shoutbox #shout-msg:focus {
	box-shadow: 0 0 3px #3160a5;
}

.phpbb-widget-shoutbox .shout {
	background: #ffffff;
	color: #586272;
	margin-bottom: 10px;
	padding: 10px;
	line-height: 22px;
	word-break:hyphenate;
	word-wrap:break-word;
}

.phpbb-widget-shoutbox .shout:last-of-type {
	margin-bottom: 0;
}

.phpbb-widget-shoutbox .author {
	color: #303030;
	font-weight: bold;
}

.shout-overlay {
	background-image: url(/img/shout-overlay.png);
	height: 20px;
	position: absolute;
	width: 220px;
	margin-top: 15px;
}
div.widget > section > ul#shouts::-webkit-scrollbar{
	height: 6px;
	width: 6px;
}
div.widget > section > ul#shouts::-webkit-scrollbar-track-piece{
	-webkit-border-radius: 6px;
}
div.widget > section > ul#shouts::-webkit-scrollbar-thumb:vertical{
	height: 10px;
	background-color: #ccc;
	-webkit-border-radius: 6px;
}									
div.widget > section > ul#shouts::-webkit-scrollbar-thumb:vertical:active{
	height: 10px;
	background-color: #7a7979;
	-webkit-border-radius: 6px;
}
.clearfix { clear: both; }

.page-wrap { width: 960px; margin: 0 auto; } /* Responsify plz */

::selection {
	background: #f84931; /* Safari */
	color: #ffffff;
}

a {
	color: #f84931;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
	color: #f84931;
}

strong { font-weight: 700; }
