<?xml version="1.0" encoding="utf-8" ?>  
  
<widget xmlns="http://www.w3.org/ns/widgets" version="1.8">  
    <name>Blazebyte Chat Extension</name>  
    <description>Chat on Blazebyte.org quickly and easily with the blazebyte shoutbox extension.</description>  
    <author href="http://blazebyte.org/community/index.php?action=profile;u=4011" email="">Ed Longman</author>  
    <icon src="img/logo64.png"/>
	<access origin="http://blazebyte.org" subdomains="true" />
</widget> 